/*  Stili generali di pagina */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
.header {
    background-color:white;
    min-height: 100px;
}

.header img {
    width:5%;
    vertical-align: middle;
}

.header h1 {
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
}


/* MAIN */
.background {
    background-color:lightseagreen;
}

.containerCenter {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 50px 0px;

}
/* box1 */
.Box{
    width: calc(100% / 10);
    height: 100px;
    background-color: red;
    border: 2px solid black;
}